
.grid{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.container-grid {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-areas:
    "item1 item1 item1 item2" 
    "item1 item1 item1 item3" 
    "item4 item5 item6 item6" 
    "item7 item7 item8 item9" 
    "item10 item10 item11 item12" 
    "item13 item14 item14 item15" 
    "item16 item17 item18 item18";
  grid-template-columns: repeat(4, minmax(0, 240px));
  grid-template-rows: repeat(7, minmax(0, 240px));
  
  gap: 1rem;
  & .item {
    border-radius: 2rem;
  }
  & .item1 {
    grid-area: item1;
    background-color: rgb(150, 94, 224);
  }
  & .item2 {
    grid-area: item2;
    background-color: rgb(150, 94, 224);
  }
  & .item3 {
    grid-area: item3;
    background-color: rgb(150, 94, 224);
  }
  & .item4 {
    grid-area: item4;
    background-color: rgb(247, 122, 21);
  }
  & .item5 {
    grid-area: item5;
    background-color: rgb(37, 174, 253);
  }
  & .item6 {
    grid-area: item6;
    background-color: rgb(150, 94, 224);
  }
  & .item7 {
    grid-area: item7;
    background-color: rgb(252, 238, 42);
  }
  & .item8 {
    grid-area: item8;
    background-color: rgb(247, 122, 21);
  }
  & .item9 {
    grid-area: item9;
    background-color: rgb(37, 174, 253);
  }
  & .item10 {
    grid-area: item10;
    background-color: rgb(56, 56, 56);
  }
  & .item11 {
    grid-area: item11;
    background-color: rgb(127, 255, 212);
  }
  & .item12 {
    grid-area: item12;
    background-color: rgb(150, 94, 224);
  }
  & .item13 {
    grid-area: item13;
    background-color: rgb(37, 174, 253);
  }
  & .item14 {
    grid-area: item14;
    background-color: rgb(56, 56, 56);
  }
  & .item15 {
    grid-area: item15;
    background-color: rgb(150, 94, 224);
  }
  & .item16 {
    grid-area: item16;
    background-color: rgb(63, 230, 174);
  }
  & .item17 {
    grid-area: item17;
    background-color: rgb(127, 255, 212);
  }
  & .item18 {
    grid-area: item18;
    background-color: rgb(34, 102, 79);
  }
}
@media screen and (max-width: 900px){
  .container-grid {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-areas:
      "item1 item1 item1 item2" 
      "item1 item1 item1 item3" 
      "item4 item5 item6 item6" 
      "item7 item7 item8 item9" 
      "item10 item10 item11 item12"
      "item13 item14 item14 item15"
      "item16 item17 item18 item18";

    grid-template-columns: repeat(4, minmax(0, 150px));
    grid-template-rows: repeat(7, minmax(0, 150px));
    gap: 1rem;
  }
}
@media screen and (max-width: 600px){
  .container-grid {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-areas: 
      "item1 item1 item1" 
      "item1 item1 item1"
      "item1 item1 item1" 
      "item2 item3 item4" 
      "item5 item6 item6"
      "item7 item7 item8" 
      "item9 item10 item10" 
      "item11 item11 item12" 
      "item13 item14 item15" 
      "item16 item17 item18";

    grid-template-columns: repeat(3, minmax(0, 100px));
    grid-template-rows: repeat(10, minmax(0, 100px));
    gap: .5rem;
  }
}
