*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}
body{
  background-color: #fff;
}
p{
  color: #fff;
  line-height: 1.4;
}

.grid{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.container-grid {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-areas:
    "item1 item1 item1 item2" 
    "item1 item1 item1 item3" 
    "item4 item5 item6 item6" 
    "item7 item7 item8 item9" 
    "item10 item10 item11 item12" 
    "item13 item14 item14 item15" 
    "item16 item17 item18 item18";
  grid-template-columns: repeat(4, minmax(0, 240px));
  grid-template-rows: repeat(7, minmax(0, 240px));
  
  gap: 1rem;
  & .item {
    background-image: url(../img/noise.gif) rbga(0, 0, 0, 0.5);
    border-radius: 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  & .item1 {
    grid-area: item1;
    background-image: url(../img/avatar_javiergrafico.webp);
    background-repeat: no-repeat;
    background-position: right -150px top 50px;
    background-color: rgba(81, 41, 215, 0.7);
    position: relative;
    @media (max-width: 900px){
      background-position: right -220px top -20px;
    }
    @media (max-width: 600px){
      background-position: right -300px top -20px;
    }

    & .container_home{
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 4rem;
      @media (max-width: 900px){
        padding: 2rem;
      }
      

      & .h1_home{
        font-size: 4rem;
        color: #fff;
        line-height: 1;
        padding-bottom: 15px;
        @media (max-width: 900px){
          font-size: 2rem;
        }
        @media (max-width: 600px){
          font-size: 1.5rem;
        }
      }
      & .p_home{
        width: 70%;
        font-size: 1.3rem;
        @media (max-width: 900px){
          width: 80%;
          font-size: 1rem;
        }
        @media (max-width: 600px){
          font-size: .9rem;
        }
      }
    }
  }
  & .item2 {
    grid-area: item2;
    background-color: rgb(81, 41, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    & .container_logo{
      display: flex;
      justify-content: center;
      width: 100%;
      & .logo{
        width: 50%;

      }
    }
  }
  & .item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: item3;
    background-color: rgba(21, 212, 126, 0.7);
    & .container_toogle{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 60px;
      height: 30px;
      padding: 0 5px;
      border-radius: 100px;
      border: #383838 solid 2px;
      background-color: #383838;
      &:last-child::before{
        content: "";
        position: absolute;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: #fff;
        border: solid 2px #fff;
        left: 0;
        right: unset;
      }
      &:last-child.active::before{
        right: 0;
        left: unset;
        border: solid 2px #fff;
      }
      &:last-child.active i:first-child {
        color: #fff;
      }
      &:last-child.active{
        background-color: #ffef13;
        border: #fff solid 2px;
      }
      & .sol, .luna{
        font-size: 1rem;
        color: #fdc21c;
      }

      
    }
    
  }
  
  & .item4 {
    grid-area: item4;
    background-color: rgba(247, 122, 21, 0.7);
    display: flex;
    justify-content: center;  
    transition: 0.5s ease;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
    }

    & .container_instagram{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      position: relative;

      & .instagram{
        font-size: 5.5rem;
        color: #fff;
        @media (max-width: 900px){
          font-size: 2.5rem;
        }
        @media (max-width: 600px){
          font-size: 2rem;
        }
      }
      & .up-right{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        color: #fff;
        @media (max-width: 900px){
          font-size: 1.1rem;
        }
        @media (max-width: 600px){
          font-size: .7rem;
        }
      }
    }
  }
  & .item5 {
    display: flex;
    justify-content: center;
    grid-area: item5;
    background-color: rgb(37, 174, 253);
    transition: 0.5s ease;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
    }

    & .container_linkidin{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      
      & .linkedin{
        font-size: 4.5rem;
        color: #fff;
        @media (max-width: 900px){
          font-size: 2.5rem;
        }
        @media (max-width: 600px){
          font-size: 2rem;
        }
      }
      & .up-right{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        color: #fff;
        @media (max-width: 900px){
          font-size: 1.1rem;
        }
        @media (max-width: 600px){
          font-size: .7rem;
        }
      }
    }
  }
  & .item6 {
    grid-area: item6;
    background-color: rgb(81, 41, 215);
    & .container_cv{
      display: flex;
      flex-direction: row;
      position: relative;

      & .title_cv{
        color: #fff;
        margin: 20px;
        display: flex;
        flex-direction: column;
        
        & .h2_cv{
          font-size: 2rem;
          color: #fff;
          padding-top: 80px;
          padding-bottom: 0.3125rem;
          line-height: 1;
          @media (max-width: 900px){
            font-size: 1.5rem;
            padding-top: 10px;
          }
          @media (max-width: 600px){
            font-size: .7rem;
            padding-top: 25px;
          }
        }
        & .p_cv{
          font-size: 1.5rem;
          color: #fff;
          @media (max-width: 900px){
            font-size: 1rem;
          }
          @media (max-width: 600px){
          font-size: .6rem;
          }
        }
      }
      & .up-right_cv{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        color: #fff;
        @media (max-width: 900px){
          font-size: 1.1rem;
        }
        @media (max-width: 600px){
          font-size: .7rem;
        }

      }
    }
  }
  /* container 7 */
  & .item7 {
    grid-area: item7;
    background-color: rgb(252, 238, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    & .container_wrapper_uno{
      
      & .swiper-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        & svg{
          width: 130px;
          @media (max-width: 900px){
            width: 80px;
          }
          @media (max-width: 600px){
            width: 50px;
          }
        }
      }
    }
    

    
  }
  & .item8 {
    grid-area: item8;
    background-color: rgba(247, 122, 21, 0.7);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    &:hover{
      transform: scale(1.1);
    }
    

    & .container_skill{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1rem;

      & .icon_skill{
        font-size: 4.5rem;
        color: #fff;
        @media (max-width: 900px){
          font-size: 2.5rem;
        }
        @media (max-width: 600px){
        font-size: 1.7rem;
        }
      }
    }
  }
  & .item9 {
    grid-area: item9;
    background-color: rgb(37, 174, 253);
    & .container_exp{
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center ;

      & .p_exp{
        font-size: 6rem;
        font-weight: 900;
        @media (max-width: 900px){
          font-size: 4rem;
        }
        @media (max-width: 600px){
          font-size: 2.5rem;
        }
      }
      & .p_years{
        font-size: 2rem;
        @media (max-width: 900px){
          font-size: 1rem;
        }
        @media (max-width: 600px){
          font-size: .8rem;
        }
      }
    }
  }
  & .item10 {
    grid-area: item10;
    background-color: rgb(22, 0, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    & .container_wrapper_dos{
      
      & .swiper-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        & h2{
          font-size: 2.3rem;
          color: #fff;
          @media (max-width: 900px){
            font-size: 2rem;
          }
          @media (max-width: 600px){
            font-size: 1rem;
          }
        }
      }
    }
  }
  & .item11 {
    grid-area: item11;
    background-color: rgb(21, 212, 126);
    & .container_gif{
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 1rem;
      & .gif_animado{
        width: 100%;
        height: 100%;
      }
    }
  }
  & .item12 {
    grid-area: item12;
    background-color: rgba(81, 41, 215, 0.7);
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
    }
    & .container_mail{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      & .mail{
        font-size: 4.5rem;
        color: #fff;
        @media (max-width: 900px){
          font-size: 2.5rem;
        }
        @media (max-width: 600px){
          font-size: 2rem;
        }
      }
      & .up-right{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        color: #fff;
        @media (max-width: 900px){
          font-size: 1.1rem;
        }
        @media (max-width: 600px){
          font-size: .7rem;
        }
      }
    }
  }
  & .item13 {
    grid-area: item13;
    background-color: rgb(37, 174, 253);
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
    }
    & .container_twitter{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      & .twitter{
        font-size: 4.5rem;
        color: #fff;
        @media (max-width: 900px){
          font-size: 2.5rem;
        }
        @media (max-width: 600px){
          font-size: 2rem;
        }
      }
      & .up-right{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        color: #fff;
        @media (max-width: 900px){
          font-size: 1.1rem;
        }
        @media (max-width: 600px){
          font-size: .7rem;
        }
      }
    }
  }
  & .item14 {
    grid-area: item14;
    background-color: rgb(22, 0, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 900px){
      
    }
    @media (max-width: 600px){
      background-color: rgb(81, 41, 215);
    }
    & .container_logotipo{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      
      @media (max-width: 600px){
        display: none;
      }
      & .logotipo{
        width: 350px;
        @media (max-width: 900px){
          width: 220px;
        }
      }
    }
    & .container_logotipo_2{
      display: none;
      
      @media (max-width: 600px){
        display: block;
        display: flex;
        align-items: center;
        padding-top: 10px;
      }
      & .logotipo02{
        width: 80px;
        
      }
    }
  }
  & .item15 {
    grid-area: item15;
    background-color: rgba(81, 41, 215, 0.7);
    overflow: hidden;
    & .container_foto{
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      
      & .img_foto{
        width: 120%;
        
      }
    }
  }
  & .item16 {
    grid-area: item16;
    background-color: rgb(21, 212, 126);
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
    }
    & .container_whatsapp{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      
      & .whatsapp{
        font-size: 4.5rem;
        color: #fff;
        @media (max-width: 900px){
          font-size: 2.5rem;
        }
        @media (max-width: 600px){
          font-size: 2rem;
        }
      }
    }
  }
  & .item17 {
    grid-area: item17;
    background-color: rgb(247, 122, 21);
    display: flex;
    justify-content: center;  
    align-items: center;
    transition: 0.5s ease;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
    }
    @media (max-width: 600px){
      padding: 10px;
    }
    & .container_github{
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      & .github{
        font-size: 4.5rem;
        color: #fff;
        @media (max-width: 900px){
          font-size: 2.5rem;
        }
        @media (max-width: 600px){
          font-size: 2rem;
        }
      }
    }
  }
  & .item18 {
    grid-area: item18;
    background-color: rgb(21, 212, 126);
    display: flex;
    justify-content: center;  
    align-items: center;
    cursor: pointer;
    
    & .container_pinteres{
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      & .pinteres{
        color: #fff;
        font-size: 4.5rem;
        display: none;
        @media (max-width: 900px){
          font-size: 2.5rem;
        }
        @media (max-width: 600px){
          font-size: 2rem;
          display: inline-block;
        }
      }
      & .img_pinteres{
        width: 250px;
        @media (max-width: 600px){
          display: none;
        }
      }
    }
  }
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;

  & .p_footer{
    color: rgb(22, 0, 91);
    font-size: 1rem;
    & .span_footer{
      font-weight: 700;
    }
    @media (max-width: 900px){
      font-size: .8rem;
    }
    @media (max-width: 600px){
      font-size: .7rem;
      
    }

  }
}
body.active{
  background-color: #202020;
  background-image: url(../img/noise.gif) ;
  background-blend-mode: darken, luminosity;
}


@media screen and (max-width: 900px){
  .container-grid {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-areas:
      "item1 item1 item1 item2" 
      "item1 item1 item1 item3" 
      "item4 item5 item6 item6" 
      "item7 item7 item8 item9" 
      "item10 item10 item11 item12"
      "item13 item14 item14 item15"
      "item16 item17 item18 item18";

    grid-template-columns: repeat(4, minmax(0, 150px));
    grid-template-rows: repeat(7, minmax(0, 150px));
    gap: 1rem;
    & .item {
      border-radius: 1rem;
    }
  }
}
@media screen and (max-width: 600px){
  .container-grid {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-areas: 
      "item1 item1 item1" 
      "item1 item1 item1"
      "item1 item1 item1" 
      "item2 item3 item4" 
      "item5 item6 item6"
      "item7 item7 item8" 
      "item9 item10 item10" 
      "item11 item11 item12" 
      "item13 item14 item15" 
      "item16 item17 item18";

    grid-template-columns: repeat(3, minmax(0, 100px));
    grid-template-rows: repeat(10, minmax(0, 100px));
    gap: .5rem;
  }
}
